.qtip-default .qtip-content {
    border-width: 1px;
    border-style: solid;
    border-color: #183245;
    background-color: #183245;
}
.qtip-tip{margin: 0 auto;overflow: hidden;z-index: 10;visibility: hidden}
.qtip-tip, .qtip-tip canvas{position: absolute;color:var(--main-orange) !important;border: 0 dashed transparent !important}
.qtip-tip canvas{ top: 0; left: 0; }

/* Kolory dymkow */
/*
'1' => 'Na sprzedaż',
'2' => 'Rezerwacja',
'3' => 'Sprzedane',
'4' => 'Wynajęte'
 */

.qtip.status-1 .qtip-content {background:#25690c;border:1px solid #25690c}
.qtip-tip.status-1 canvas {background:#25690c !important}

.qtip.status-2 .qtip-content {background:#1660b3;border:1px solid #1660b3}
.qtip-tip.status-2 canvas {background:#1660b3 !important;color:black}

.qtip.status-3 .qtip-content {background:#aa1215;border:1px solid #aa1215}
.qtip-tip.status-3 canvas {background:#aa1215 !important}

.qtip.status-4 .qtip-content {background:#de8300;border:1px solid #de8300}
.qtip-tip.status-4 canvas {background:#de8300 !important}
